<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-5">
        <div class="container-1">
          <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-2">
              <p class="font-weight-bold mt-4">Settings</p>
              <p class="font-weight-light">Settings > Users</p>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-3">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-fluid"
                  src="../../assets/admin.png"
                  alt="admin"
                />
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-person"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-chat-dots"></i> Feedback</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-question-circle"></i> Help</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-box-arrow-right"></i> Logout</a
                  >
                </li>
              </ul>
              <p class="font-weight-normal">Alex Kumar</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row mt-2">
              <div class="mb-3 col-8 col-sm-5 col-md-3 col-lg-3 col-xl-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputText"
                  placeholder="Search"
                />
              </div>
              <div
                class="mb-3 col-12 col-sm-2 col-md-6 col-lg-6 col-xl-6"
              ></div>
              <button
                type="button"
                class="btn btn-primary btn-lg col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3"
              >
                Add New User
              </button>
            </div>
            <div class="container-6">
              <div class="table-responsive mt-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th sortable="id" (sort)="onSort($event)" scope="col">
                        <b>ID</b><i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortable="name" (sort)="onSort($event)" scope="col">
                        <b>NAME</b><i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortable="role" (sort)="onSort($event)" scope="col">
                        <b>ROLE</b><i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortable="branch" (sort)="onSort($event)" scope="col">
                        <b>BRANCH</b><i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortable="status" (sort)="onSort($event)" scope="col">
                        <b>STATUS</b><i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortable="createdat" scope="col">CREATED AT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let User of Users | paginate : config">
                      <td>{{ User.id }}</td>
                      <td>{{ User.name }}</td>
                      <td>{{ User.role }}</td>
                      <td>{{ User.branch }}</td>
                      <td>{{ User.status }}</td>
                      <td>
                        <button class="btn btn-secondary" type="button">
                          UPDATE
                        </button>
                        <button class="btn btn-danger" type="button">
                          PASSWORD
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="containar-7">
                <p class="text-justify mt-4">Showing 1 to 10 of 51 entries</p>
                <pagination-controls
                  class="my-pagination mt-3"
                  (pageChange)="pageChanged($event)"
                ></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
