<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-5">
        <div class="container-1">
          <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-2">
              <p class="font-weight-bold mt-4">Settings</p>
              <p class="font-weight-light">Settings > Users</p>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-3">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-fluid"
                  src="../../assets/admin.png"
                  alt="admin"
                />
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-person"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-chat-dots"></i> Feedback</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-question-circle"></i> Help</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-box-arrow-right"></i> Logout</a
                  >
                </li>
              </ul>
              <p class="font-weight-normal">Alex Kumar</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row mt-4">
              <div class="mb-3 col-8 col-sm-5 col-md-3 col-lg-3 col-xl-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputText"
                  placeholder="Search"
                />
              </div>
              <div
                class="mb-3 col-12 col-sm-2 col-md-6 col-lg-6 col-xl-6"
              ></div>
              <button
                type="button"
                class="btn btn-primary btn-lg col-12 col-sm-5 col-md-3 col-lg-3 col-xl-3"
              >
                Add New User
              </button>
            </div>
            <div class="container-6">
              <mat-table
                matSort
                [dataSource]="dataSource"
                class="mat-elevation-z8 mt-4"
                #exmTbSort="matSort"
              >
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header
                    >ID</mat-header-cell
                  >
                  <mat-cell *matCellDef="let element">
                    <span class="mobile-lable">ID</span>
                    {{ element.id }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    NAME
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                    <span class="mobile-lable">NAME</span>
                    {{ element.name }}</mat-cell
                  >
                </ng-container>

                <ng-container matColumnDef="role">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    ROLE
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                    <span class="mobile-lable">ROLE</span>
                    {{ element.role }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="branch">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    BRANCH
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                    <span class="mobile-lable">BRANCH</span>
                    {{ element.branch }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    STATUS
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                    <span class="mobile-lable">STATUS</span>
                    {{ element.status }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdat">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>
                    CREATED AT
                  </mat-header-cell>
                  <mat-cell mat-cell *matCellDef="let element">
                    <span class="mobile-lable">CREATED AT</span>
                    <div class="container-7">
                      <button mat-raised-button color="primary" class="primary">
                        UPDATE
                      </button>
                      <button mat-raised-button color="warn" class="warn">
                        PASSWORD
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
              <mat-paginator
                #paginator
                [pageSizeOptions]="[2, 4, 6]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
