.vh-100 {
    background: #fcfcfc 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0px 20px 0px 0px;
  }
  .container-5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .container-1 {
    height: 5rem;
  }
  .container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .font-weight-bold {
    text-align: left;
    font-size: 41px;
    font-weight: normal normal medium;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0px;
    color: #11193c;
    opacity: 1;
  }
  .font-weight-light {
    text-align: left;
    font: normal normal normal 15px/25px Poppins;
    letter-spacing: 0px;
    color: #8990ad;
    opacity: 1;
  }
  .font-weight-normal{
    text-align: center;
    font: normal normal normal 15px/25px Poppins;
    letter-spacing: 0px;
    color: #8990ad;
    opacity: 1;
    padding: 15px 0px 0px 0px;
  }
  .container-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 2%;
  }
  .dropdown-toggle-split {
    height: 20%;
    background-color: #fcfcfc;
    border: 0px solid #fcfcfc;
  }
  .dropdown-toggle-split::after {
    display: none;
  }
  .dropdown-menu {
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0px solid #fff;
  }
  .dropdown-item {
    font: normal normal normal 13px/22px Poppins;
    letter-spacing: 0px;
    color: #8990ad;
    opacity: 1;
  }
  .dropdown-item:hover{
    background: #fff;
  }
  .bi {
    padding: 0px 20px 0px 0px;
  }
  .img-fluid {
    width: fit-content;
    height: 130%;
  }
  .container-4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px 0px 0px;
  }
  .card {
    border: 0px solid #fff;
    border-radius: 10px;
    opacity: 1;
  }
  .card-tilte {
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .form-control {
    padding: 5px 0px 5px 20px;
    height: 150%;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0px solid #f8f8f8;
  }
  ::placeholder {
    text-align: left;
    font: normal normal normal 13px/21px Poppins;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .btn-secondary{
    height: 150%;
    width: 100%;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0px solid #f8f8f8;
  }
  .dropdown-toggle::after {
    border-top: 5px solid #000000;
    margin-left: 105%;
  }
  .dropdown-menu-end{
    width: 90%;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0px solid #f8f8f8;
  }
  .dropdown-item{
    text-align: left;
    font: normal normal normal 13px/21px Poppins;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
  }
  .dropdown-item:hover{
    background: none;
  }
  .btn-primary {
    background: #027afe 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 33px #00000014;
    border-radius: 10px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0px;
    color: #ffffff;
    border: 0px solid #027afe;
    height: 3rem;
  }
  input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
  }
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    display: none;
  }
  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    padding: 0px 20px 0px 0px;
    background: url(../../assets/calendar3.svg) no-repeat;
    width: 16px;
    height: 16px;
  }
  @media(max-width:960px){
    .btn-primary{
      width: 45%;
      margin-left: 3%;
    }
  }
  @media(max-width:1319px){
    .font-weight-normal{
      padding: 25px 0px 0px 0px;
    }
  }
  @media(max-width:1000px){
    .font-weight-normal{
      padding: 20px 0px 0px 0px;
    }
  }
  @media(max-width:900px){
    .font-weight-normal{
      padding: 15px 0px 0px 0px;
    }
  }
  @media(max-width:768px){
    .btn-primary{
      margin-left: 25%;
      margin-top: 5%;
      width: 50%;
    }
  }
  @media(max-width:650px){
    .img-fluid{
      width: fit-content;
      height: 200%;
    }
    .font-weight-normal{
      padding: 30px 0px 0px 0px;
    }
  }
  @media(max-width:650px){
    .img-fluid{
      width: fit-content;
      height: 200%;
    }
    .font-weight-normal{
      padding: 30px 0px 0px 0px;
    }
  }
  @media(max-width:631px){
    .img-fluid{
      width: fit-content;
      height: 150%;
    }
    .font-weight-normal{
      padding: 25px 0px 0px 0px;
    }
  }
  @media (max-width:575px){
    .container-3{
      margin-top: -16%;
    }
    .btn-primary{
      width: 60%;
      margin-left: 20%;
      margin-top: 5%;
    }
  }
  @media (max-width:575px){
    .container-3{
      margin-top: -18%;
    }
  }
  @media (max-width:450px){
    .container-3{
      margin-top: -20%;
    }
  }
  @media (max-width:410px){
    .container-3{
      margin-top: -23%;
    }
  }
  @media (max-width:480px){
    .container-3{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 0%;
      margin-left: -5%;
    }
    .card{
      margin-top: 20%;
    }
  }
  @media (max-width:380px){
    .img-fluid{
      width: fit-content;
      height: 100%;
    }
    .font-weight-normal{
      padding: 15px 0px 0px 0px;
    }
  }
  @media (max-width:309px){
    .btn-primary{
      width: 70%;
      margin-left: 15%;
      margin-top: 5%;
    }
  }
  