:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 15%;
}
mat-drawer-container{
    height: 100%;
}
@media (max-width:1200px){
    mat-drawer{
        width: 18%;
    }
}
@media (max-width:1120px){
    mat-drawer{
        width: 20%;
    }
}
@media (max-width:910px){
    mat-drawer{
        width: 23%;
    }
}
@media (max-width:800px){
    mat-drawer{
        width: 25%;
    }
}
@media (max-width:743px){
    mat-drawer{
        width: 28%;
    }
}
@media (max-width:666px){
    mat-drawer{
        width: 30%;
    }
}
@media (max-width:622px){
    mat-drawer{
        width: 33%;
    }
}
@media (max-width:567px){
    mat-drawer{
        width: 35%;
    }
}
@media (max-width:533px){
    mat-drawer{
        width: 37%;
    }
}
@media (max-width:505px){
    mat-drawer{
        width: 50%;
    }
}
@media (max-width:466px){
    mat-drawer{
        width: 60%;
    }
}