<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-5">
        <div class="container-1">
          <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-2">
              <p class="font-weight-bold mt-4">Dashboard</p>
              <p class="font-weight-light">Welcome back, Alex</p>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-3">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-fluid"
                  src="../../assets/admin.png"
                  alt="admin"
                />
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-person"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-chat-dots"></i> Feedback</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-question-circle"></i> Help</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-box-arrow-right"></i> Logout</a
                  >
                </li>
              </ul>
              <p class="font-weight-normal">Alex Kumar</p>
            </div>
          </div>
        </div>
        <div class="container-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Connection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2">trending_up</mat-icon>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Connection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2" style="color: red"
                  >trending_down</mat-icon
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reconnection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2" style="color: red"
                  >trending_down</mat-icon
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Line Change</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2">trending_up</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="container-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Monthly Collection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2">trending_up</mat-icon>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Monthly New Connection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2" style="color: red"
                  >trending_down</mat-icon
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Profits</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2" style="color: red"
                  >trending_down</mat-icon
                >
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Monthly Reconnection</h5>
              <div class="container-6 mt-4">
                <p class="card-text">143350</p>
                <mat-icon class="offset-2">trending_up</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="container-7">
          <div class="card-2">
            <div class="card-text-2">Annual Report</div>
            <canvas id="linechart"></canvas>
          </div>
          <div class="card-3">
            <div class="card-text-2">Today Collection Report</div>
            <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
              <table class="table mt-2">
                <tbody>
                  <tr>
                    <td>SANOJAN</td>
                    <td>0 Bills</td>
                    <td>55200.00</td>
                  </tr>
                  <tr>
                    <td>PRASANTH</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                  <tr>
                    <td>ARULAN</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                  <tr>
                    <td>MURALI</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                  <tr>
                    <td>NIRUSHAN</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                  <tr>
                    <td>KARTHEESAN</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                  <tr>
                    <td>KARTHEESAN</td>
                    <td>80 Bills</td>
                    <td>44345.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
