<mat-nav-list>
  <div class="logo mt-xl-4">
    <img src="../../assets/admin.png" class="img-fluid" alt="admin" />
    <div class="container-1">
      <p class="font-weight-bold">ALEX KUMAR</p>
      <p class="font-weight-light">Admin</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <button mat-button class="mt-4" routerLink="/dashboard">
    <div class="row">
      <mat-icon class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3"
        >dashboard</mat-icon
      >
      <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 text">
        Dashboard
      </div>
    </div>
  </button>
  <mat-accordion>
    <mat-expansion-panel
      #panel
      *ngFor="let item of items; let i = index"
      (opened)="setOpened(i)"
      (closed)="setClosed(i)"
      hideToggle="true"
    >
      <mat-expansion-panel-header>
        <a
          mat-list-item
          routerLink="/"
          routerLinkActive="active-link"
          class="mt-2"
        >
          <img
            src="{{ item.icon }}"
            class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3 icon"
          />
          <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {{ item.head }}
          </div>
          <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
          <mat-panel-description
            class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"
          >
            <mat-icon *ngIf="!panel.expanded"
              >&nbsp;add_circle_outline</mat-icon
            >
            <mat-icon *ngIf="panel.expanded"
              >&nbsp;remove_circle_outline</mat-icon
            >
          </mat-panel-description>
        </a>
      </mat-expansion-panel-header>
      <div *ngFor="let it of item.item; let i = index">
        <a
          class="link"
          routerLink="{{ it.href }}"
          routerLinkActive="link-active"
        >
          <span>{{ it.name }}</span>
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <img src="../../assets/logo.png" class="img-thumbnail" alt="logo" />
</mat-nav-list>
