<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-5">
        <div class="container-1">
          <div class="row">
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-2">
              <p class="font-weight-bold mt-4">Tickets</p>
              <p class="font-weight-light">Tickets > Pending Tickets</p>
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-sm-5 col-md-4 col-lg-4 col-xl-4 container-3">
              <button
                class="btn dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="img-fluid"
                  src="../../assets/admin.png"
                  alt="admin"
                />
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-person"></i> Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-chat-dots"></i> Feedback</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-question-circle"></i> Help</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="#"
                    ><i class="bi bi-box-arrow-right"></i> Logout</a
                  >
                </li>
              </ul>
              <p class="font-weight-normal">Alex Kumar</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row mt-2">
              <div class="mb-3 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputText"
                  placeholder="Search"
                />
              </div>
              <div
                class="mb-3 col-12 col-sm-12 col-md-3 col-lg-4 col-xl-6"
              ></div>
              <div class="col-3 col-sm-3 col-md-5 col-lg-4 col-xl-3">
                <div class="row container-4">
                  <button type="button" class="btn btn-danger col-md-4">
                    Excel
                  </button>
                  <button type="button" class="btn btn-warning col-md-4">
                    PDF
                  </button>
                  <button type="button" class="btn btn-success col-md-4">
                    Print
                  </button>
                </div>
              </div>
            </div>
            <div class="container-6">
              <div class="table-responsive mt-4">
                <table class="table">
                  <thead>
                    <tr>
                      <th sortabletic="ticket" (sort)="onSort($event)" scope="col">
                        <b>TICKET</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortabletic="id" (sort)="onSort($event)" scope="col">
                        <b>ID</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortabletic="subject" (sort)="onSort($event)" scope="col">
                        <b>SUBJECT</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortabletic="phone" (sort)="onSort($event)" scope="col">
                        <b>PHONE</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortabletic="createdby" (sort)="onSort($event)" scope="col">
                        <b>CREATED BY</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                      <th sortabletic="createdat" (sort)="onSort($event)" scope="col">
                        <b>CREATED AT</b>
                        <i class="bi bi-arrow-down-up"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let Ticket of Tickets">
                      <td>{{ Ticket.ticket }}</td>
                      <td>{{ Ticket.id }}</td>
                      <td>{{ Ticket.subject }}</td>
                      <td>{{ Ticket.phone }}</td>
                      <td>{{ Ticket.createdby }}</td>
                      <td>{{ Ticket.createdat }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
