<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="container-5">
        <div class="container-1">
          <div class="container-2">
            <p class="font-weight-bold mt-4">Tickets</p>
            <p class="font-weight-light">Tickets > Create Tickets</p>
          </div>
          <div class="container-3">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img class="img-fluid" src="../../assets/admin.png" alt="admin" />
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-person"></i> Profile</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-chat-dots"></i> Feedback</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-question-circle"></i> Help</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="bi bi-box-arrow-right"></i> Logout</a
                >
              </li>
            </ul>
            <p class="font-weight-light mt-3">Alex Kumar</p>
          </div>
        </div>
        <div class="card">
          <div class="container-4">
            <div class="card-body">
              <div class="card-tilte">
                Choose searching type and enter the value
              </div>
              <div class="container-6 mt-4">
                <form>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Connection Id</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      value="option2"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Phone No</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio3"
                      value="option3"
                    />
                    <label class="form-check-label" for="inlineRadio3"
                      >Nic</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio4"
                      value="option4"
                    />
                    <label class="form-check-label" for="inlineRadio4"
                      >Old Id</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio5"
                      value="option5"
                    />
                    <label class="form-check-label" for="inlineRadio5"
                      >Name</label
                    >
                  </div>
                </form>
              </div>
              <form>
                <div class="row mt-4">
                  <div class="mb-3 col-lg-9">
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      placeholder="Connection Id"
                    />
                  </div>
                  <button type="button" class="btn btn-primary btn-lg col-lg-3">
                    Search Connection
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
